@use 'base/variables' as v;

.alerta {
    padding: calc(v.$separacion / 5);
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: v.$blanco;
    font-weight: v.$bold;
    text-transform: uppercase;

    &.error {
        background-color: v.$rojo;
    }

    &.exito {
        background-color: v.$verde;
    }
}